
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ferretería Alex ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight:bold;">
                    <li>@Html.ActionLink("INICIO", "Index", "Home")</li>
                    <li>@Html.ActionLink("NOSOTROS", "Index", "Home")</li>
                    <li>@Html.ActionLink("CONTACTO", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CLIENTES<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Listar Clientes", "ListaClientes", "Cliente")</li>
                            @*<li>@Html.ActionLink("Buscar Clientes", "BuscarClienteByNombre", "Cliente")</li>*@
                            <li>@Html.ActionLink("Agregar Cliente", "RegistrarCliente", "Cliente")</li>
                            <li>@Html.ActionLink("Agregar Documento", "ListarTipoDoc", "TipoDocumento")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTOS<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Listar Productos", "ListaProducto", "Producto")</li>
                            <li>@Html.ActionLink("Agregar Producto", "RegistrarProducto", "Producto")</li>
                            @*<li>@Html.ActionLink("Buscar Producto", "BuscarProdByNomb", "Producto")</li>*@
                            <li>@Html.ActionLink("Listar Tipos", "ListaTipoProductos", "TipoProducto")</li>
                            <li>@Html.ActionLink("Listar Categorias", "ListarCat", "Categoria")</li>
                            @*<li>@Html.ActionLink("Buscar Categorias", "BusquedaCategoria", "Categoria")</li>*@
                            <li>@Html.ActionLink("Listar Clases", "ListaClase", "Clase")</li>


                        </ul>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VENTAS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Nueva Venta", "", "")</li>
                            <li>@Html.ActionLink("Lista de Ventas", "", "")</li>

                        </ul>
                    </li>*@
                </ul>

            </div>

        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>