@using SistemaWEB.Ferretero.Models
@model List<CategoriaBEAN>
@{
    ViewBag.Title = "BusquedaCategoria";
}

<h2 style="color:crimson" class="col col-lg-offset-4"> Busqueda  de  Categorias</h2>
<div class="col col-lg-offset-4">
    <br />
    <form action="/Categoria/BusquedaCategoria" method="post">
        <input type="text" id="id" name="id" placeholder="Ingrese código" class="form-control col-md-1" />
        <input type="submit" value="Buscar" class="btn btn-success" />
    </form>
</div>
@Html.ActionLink("Lista de Categorias", "ListarCat", "Categoria", new { }, new { @class = "btn btn-primary" })

@*<div class="col col-lg-offset-5">
        <h2 style="color:crimson"> Busqueda Categoria</h2>
        <br />
       @Html.TextBox("id","")
        @Html.ActionLink("Buscar", "BusquedaCategoria", "Categoria", new { }, new { @class = "btn btn-primary" })
    </div>*@
<br />
<br />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">ID</th>
            <th>DESCRIPCION</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.IdCategoria</td>
                <td>@item.NombCat</td>
                <td>
                    @Html.ActionLink("Editar", "EditarCategoria", new { id = item.IdCategoria }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCategoria }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </tbody>
</table>